*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background-color: #4698EA;
  color: #D8D2E1;
}

body {
  font-family: $body-font;
  color: $main-text;
}

h1, h2, h3, h4 {
  font-family: $header-font;
  color: $main-text;
}
